@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@layer base {
    body {
        @apply bg-gray-50 text-gray-800;
    }
}

/* Custom Scrollbar for Sidebar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #233342;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #37474f;
    border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #455a64;
}
